<!DOCTYPE html>
<html lang="en">
<head>
  <title>Demo 1</title>
  <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">
    <script type="text/javascript" src="onlinefolio/layout/scripts/jquery.min.js"></script>
    <script type="text/javascript" src="onlinefolio/layout/scripts/jquery.slidepanel.setup.js"></script>
    <script type="text/javascript" src="javascripts/jquery.imgareaselect-0.9.10/scripts/jquery.imgareaselect.pack.js"></script>
    <link rel="stylesheet" type="text/css" href="javascripts/jquery.imgareaselect-0.9.10/css/imgareaselect-default.css" />
    <link href="bootstrap-3.3.5/docs/examples/starter-template/starter-template.css" rel="stylesheet">
    <link href="bootstrap-3.3.5/dist/css/bootstrap.min.css" rel="stylesheet"> 
    <script src="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/js/bootstrap.min.js"></script>
    <style>
      .responsive-video {
        position: relative;
        padding-bottom: 56.25%;
        padding-top: 60px; overflow: hidden;
        }


        .responsive-video iframe,
        .responsive-video object,
        .responsive-video embed {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        }
    </style>
</head>
<body style="padding: 0px;">

    <!-- Navigation bar -->
    <!--nav class="navbar navbar-inverse navbar-fixed-top">
      <div class="container">
        <div class="navbar-header">
          <a class="navbar-brand" href="/">Geotagged images</a>
        </div>

      </div>
    </nav-->

    <div class="row">
        <div align="top" class="embed-responsive embed-responsive-16by9">
            <video autoplay loop class="embed-responsive-item">
                <source src="http://r17---sn-aigllnzl.googlevideo.com/videoplayback?signature=81140FB13A7F738CC8273D3441ADE1A0264B53CB.62F3F02F90822A08825BD848C498F8F361FF790E&fexp=9407117%2C9408210%2C9415873%2C9416126%2C9420452%2C9422342%2C9422596%2C9423662%2C9424218%2C9424816%2C9425106%2C9425382%2C9425716&ratebypass=yes&initcwndbps=6840000&key=yt6&mime=video%2Fmp4&nh=IgpwcjAzLmxocjE0KgkxMjcuMC4wLjE&id=o-AIECTGDnFCd8kX_l3tn1B33kMpH8RtYMZVYxMM5G2u4A&mn=sn-aigllnzl&mm=31&ip=2a02%3A2498%3Ae003%3A46%3A3%3A67%3A0%3A2&ms=au&sparams=dur%2Cid%2Cinitcwndbps%2Cip%2Cipbits%2Citag%2Clmt%2Cmime%2Cmm%2Cmn%2Cms%2Cmv%2Cnh%2Cpl%2Cratebypass%2Csource%2Cupn%2Cexpire&mv=m&mt=1451932446&pl=33&itag=22&upn=T3CDHat_MoU&source=youtube&sver=3&dur=14.791&ipbits=0&expire=1451954125&lmt=1451903883908676&title=20160104+113456" type=video/mp4>
            </video>
        </div>
        <!--div class="embed-responsive embed-responsive-16by9">
            <iframe class="embed-responsive-item" src="//vimeo.com/134281027"></iframe>
        </div-->
        <!--div class="responsive-vide">
          <iframe src="//vimeo.com/134281027"></iframe>
        </div-->
            
    </div>

</body>
</html>
